<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.iven.widget"
>

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
    >
        <activity android:name=".yan.imgpicker.camera.MainActivity">
    </activity>
        <activity android:name=".yan.imgpicker.util.BasePhotoActivity">
        </activity>
    </application>

</manifest>
