<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yanftch.collections">

    <!-- sdcard permission -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- camera -->
    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".swipe.SwipeMenuActivity">
        </activity>
        <activity android:name=".xrecyclerview.XRecyclerViewActivity">
        </activity>
        <activity android:name=".edittext.InputTypeLimitActivity">
        </activity>
        <activity android:name=".circlemenu.CircleMenuLayoutActivity">
        </activity>
        <activity android:name=".convenientbanner.ConvenientBannerActivity">
        </activity>
        <activity android:name=".convenientbanner.threesteps.ThreeStepsActivity">
        </activity>
        <activity android:name=".test.TestActivity">
        </activity>
        <activity android:name="com.iven.widget.yan.imgpicker.util.BasePhotoActivity"/>
        <activity android:name=".swiperecyclerview.EditTextAutoActivity">
        </activity>
        <activity android:name=".tab_viewpagerindicater.MIUI_TriangleActivity">
        </activity>
        <activity android:name=".tab_viewpagerindicater.EqualsLengthActivity">
        </activity>
        <activity android:name=".tab_viewpagerindicater.AllKindsOfViewPagerIndicaterActivity">
        </activity>
        <activity android:name=".five_photos.SelectFivePhotosActivity">
        </activity>
        <activity android:name=".pulltorefreshswipemenulistview.PulltoRefreshSwipemenuListviewActivity">
        </activity>
    </application>

</manifest>